<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleheet" href="style.ccs"
</head>
<body>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam possimus itaque assumenda hic nam dignissimos voluptatum voluptatem laborum quod vero dolorum reiciendis nostrum in at iure vitae voluptate, ad nemo? </p>
   <h1>:)</h1>
</body>
</html>